section {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  width: fit-content;
}

.photos {
  width: fit-content;
}

section a {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}

section a img {
  width: 100px;
  height: 100px;
}

.material-icons.camera {
  color: var(--clr-detail);
  height: fit-content;
}
